@import 'tailwindcss';


@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100 900;
    src: url('public/font/PretendardVariable.woff2') format('woff2');
}

@theme {
    /* ========================= */
    /*        FONT FAMILY       */
    /* ========================= */
    --font-pretendard: 'Pretendard', sans-serif;

    /* ========================= */
    /*        COLORS             */
    /* ========================= */

    /* Gray Scale */
    --color-gray-100: #f3f5f9;
    --color-gray-200: #eceff2;
    --color-gray-300: #dce1e9;
    --color-gray-400: #c2c7d1;
    --color-gray-500: #9296a1;
    --color-gray-600: #656a76;
    --color-gray-700: #474953;
    --color-gray-800: #2a2c32;
    --color-gray-900: #212328;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bg: #f5f5f5;

    /* Main Color Scale */
    --color-main-50: #e9faf8;
    --color-main-70: #cefeff;
    --color-main-100: #bcfefa;
    --color-main-200: #9be7df;
    --color-main-300: #6edbd1;
    --color-main-400: #51d5c8;
    --color-main-500: #26caba;
    --color-main-600: #23b8a9;
    --color-main-700: #1b8f84;
    --color-main-800: #156f66;
    --color-main-900: #10554e;

    /* Primary */
    --color-primary-200: #e5f1f1;
    --color-primary-400: #cefeff;

    /* Gradient */
    --color-gradient-main: linear-gradient(90deg, #26caba 0%, #0850fd 100%);
    --color-gradient-sub: linear-gradient(90deg, #b6dde6 0%, #26caba 100%);
    --color-gradient-sub2: linear-gradient(90deg, #73bcfc 0%, #146de1 100%);

    /* ========================= */
    /*         SPACING           */
    /* ========================= */

    --spacing-0: 0px;
    --spacing-100: 2px;
    --spacing-200: 4px;
    --spacing-300: 8px;
    --spacing-400: 12px;
    --spacing-500: 16px;
    --spacing-600: 20px;
    --spacing-700: 24px;
    --spacing-800: 28px;
    --spacing-900: 32px;
    --spacing-1000: 36px;
}

/* like reset.css */
@layer base {
}


/* TYPOGRAPHY */
@layer components {
    /* Title */
    .text-title-0 {
        @apply text-[4.8rem] leading-[5.7rem] font-bold; /* font-size, line-height, font-weight*/
    }
    .text-title-1 {
        @apply text-[4.0rem] leading-normal font-bold;
    }
    .text-title-2 {
        @apply text-[2.8rem] leading-normal font-medium;
    }
    .text-title-3 {
        @apply text-[2.6rem] leading-normal font-bold;
    }
    .text-title-4 {
        @apply text-[2.6rem] leading-normal font-medium;
    }
    .text-title-5 {
        @apply text-[2.4rem] leading-normal font-bold;
    }

    /* Body */
    .text-body-0 {
        @apply text-[2.6rem] leading-normal font-normal;
    }
    .text-body-1 {
        @apply text-[2.4rem] leading-normal font-medium;
    }
    .text-body-2 {
        @apply text-[2.4rem] leading-normal font-normal;
    }
    .text-body-3 {
        @apply text-[2.2rem] leading-normal font-normal;
    }
    .text-body-4 {
        @apply text-[2.0rem] leading-normal font-bold;
    }
    .text-body-5 {
        @apply text-[2.0rem] leading-normal font-normal;
    }

    /* Label */
    .text-label-0 {
        @apply text-[1.6rem] leading-normal font-medium;
    }
    .text-label-1 {
        @apply text-[1.8rem] leading-normal font-normal;
    }
    .text-label-2 {
        @apply text-[1.6rem] leading-normal font-normal;
    }
    .text-label-3 {
        @apply text-[1.4rem] leading-normal font-medium;
    }
    .text-label-4 {
        @apply text-[1.4rem] leading-normal font-normal;
    }
}

@layer utilities {
    .bg-gradient-main {
        background-image: var(--color-gradient-main);
    }

    .border-gradient-main {
        border: 2px solid transparent;
        border-radius: 12px;
        background: linear-gradient(#fff,#fff) padding-box,
        var(--color-gradient-main) border-box;
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .text-gradient-main {
        background: var(--color-gradient-main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}