@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100 900;
  src: url("public/font/PretendardVariable.woff2") format("woff2");
}

@theme {
  /* ========================= */
  /*        FONT FAMILY        */
  /* ========================= */
  --font-pretendard: "Pretendard", sans-serif;

  /* ========================= */
  /*        COLORS             */
  /* ========================= */

  /* Gray Scale */
  --color-gray-100: #f3f5f9;
  --color-gray-200: #eceff2;
  --color-gray-300: #dce1e9;
  --color-gray-400: #c2c7d1;
  --color-gray-500: #9296a1;
  --color-gray-600: #656a76;
  --color-gray-700: #474953;
  --color-gray-800: #2a2c32;
  --color-gray-900: #212328;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #f5f5f5;

  /* Main Color Scale */
  --color-main-50: #e9faf8;
  --color-main-70: #cefeff;
  --color-main-100: #bcfefa;
  --color-main-200: #9be7df;
  --color-main-300: #6edbd1;
  --color-main-400: #51d5c8;
  --color-main-500: #26caba;
  --color-main-600: #23b8a9;
  --color-main-700: #1b8f84;
  --color-main-800: #156f66;
  --color-main-900: #10554e;

  /* Primary */
  --color-primary-200: #e5f1f1;
  --color-primary-400: #cefeff;

  /* Gradient */
  --color-gradient-main: linear-gradient(0deg, #0850fd 0%, #26caba 100%);
  --color-gradient-main-diagonal: linear-gradient(
    78deg,
    #26caba 0%,
    #0850fd 100%
  );
  --color-gradient-main-diagonal-reverse: linear-gradient(
    78deg,
    #0850fd 0%,
    #26caba 100%
  );
  --color-gradient-sub: linear-gradient(90deg, #b6dde6 0%, #26caba 100%);
  --color-gradient-sub2: linear-gradient(90deg, #73bcfc 0%, #146de1 100%);

  /* ========================= */
  /*         SHADOW            */
  /* ========================= */

  --shadow-main: 0 4px 26px rgba(0, 0, 0, 0.08);
  --shadow-color: 0 10px 15px rgba(38, 202, 186, 0.3);
  --shadow-dark: 0 0 5px rgba(0, 0, 0, 0.15);

  /* ========================= */
  /*         SPACING           */
  /* ========================= */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-20: 1.25rem; /* 20px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-28: 1.75rem; /* 28px */
  --spacing-32: 2rem; /* 32px */
  --spacing-60: 3.75rem; /* 60px */
  --spacing-70: 4.375rem; /* 70px */
  --spacing-84: 5.25rem; /* 84px */
  --spacing-210: 13.125rem; /* 210px */
  --spacing-227: 14.1875rem; /* 227px */

  /* ========================= */
  /*         RADIUS            */
  /* ========================= */
  --radius-10: 0.625rem; /* 10px */
  --radius-15: 0.9375rem; /* 15px */
  --radius-20: 1.25rem; /* 20px */
  --radius-30: 1.875rem; /* 30px */
  --radius-50: 3.125rem; /* 50px */
}

/* like reset.css */
@layer base {
  html,
  body {
    font-family: var(--font-pretendard);
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
  }
}

/* TYPOGRAPHY */
@layer components {
  /* Title */
  .typo-title-0 {
    @apply text-[3rem] leading-none font-bold; /* font-size, line-height, font-weight*/
  }
  .typo-title-1 {
    @apply text-[2.5rem] leading-none font-bold;
  }
  .typo-title-2 {
    @apply text-[1.75rem] leading-none font-medium;
  }
  .typo-title-3 {
    @apply text-[1.625rem] leading-none font-bold;
  }
  .typo-title-4 {
    @apply text-[1.625rem] leading-none font-medium;
  }
  .typo-title-5 {
    @apply text-[1.5rem] leading-none font-bold;
  }
  .typo-title-6 {
    @apply text-[1rem] leading-none font-bold;
  }

  /* Body */
  .typo-body-0 {
    @apply text-[1.625rem] leading-none font-normal;
  }
  .typo-body-1 {
    @apply text-[1.5rem] leading-none font-medium;
  }
  .typo-body-2 {
    @apply text-[1.5rem] leading-none font-normal;
  }
  .typo-body-3 {
    @apply text-[1.375rem] leading-none font-normal;
  }
  .typo-body-4 {
    @apply text-[1.25rem] leading-none font-bold;
  }
  .typo-body-5 {
    @apply text-[1.25rem] leading-none font-normal;
  }

  /* Label */
  .typo-label-0 {
    @apply text-[1rem] leading-normal font-medium;
  }
  .typo-label-1 {
    @apply text-[1.125rem] leading-normal font-normal;
  }
  .typo-label-2 {
    @apply text-[1rem] leading-normal font-normal;
  }
  .typo-label-3 {
    @apply text-[0.875rem] leading-normal font-medium;
  }
  .typo-label-4 {
    @apply text-[0.875rem] leading-normal font-normal;
  }
}

@layer utilities {
  /* buttons */
  .bg-gradient-main {
    background-image: var(--color-gradient-main);
  }

  .bg-gradient-main-diagonal {
    background-image: var(--color-gradient-main-diagonal);
  }

  .bg-gradient-main-diagonal-reverse {
    background-image: var(--color-gradient-main-diagonal-reverse);
  }

  .hover\:bg-gradient-main-diagonal:hover {
    background-image: var(--color-gradient-main-diagonal);
  }

  .border-gradient-main {
    border: 2px solid transparent;
    border-radius: 12px;
    background:
      linear-gradient(#fff, #fff) padding-box,
      var(--color-gradient-main) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .border-circle-gradient-main {
    border: 2px solid transparent;
    border-radius: var(--radius-50);
    background:
      linear-gradient(#fff, #fff) padding-box,
      var(--color-gradient-main) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
